*, *:before, *:after {box-sizing: border-box; padding: 0; margin: 0;}

/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: lightskyblue;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 207, 252, 0.9); 
}

.menu-body {
    font-family: 'Montserrat', sans-serif;
    background-color: gainsboro;
}

.menu-background {
    position: relative;
    height: 700px;
    background-image: url("images/food-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.menu-background h1 {
    font-size: 48px;
    color: lightskyblue;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 250px;
}

.menu-header {
    position:absolute;
    display: inline-block; 
    margin-left: 5%;
    bottom:0;
    width: 90%;
    height: 30px;
    background-color: maroon;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.menu {
    background-color: maroon;
    border-left: solid black 15px;
}

.menu-tab {
    position: sticky;
    top: 63;
    display: flex;
    background-color: maroon;
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
}

.time-frame {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.time-frame ion-icon {
    font-size: 40px;
    color: lightskyblue;
}

.time-frame p {
    font-weight: 600;
    text-decoration: underline;
}

.menu-sections {
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
}

.menu-sections a {
    text-decoration: none;
    font-weight: 500;
    color: lightskyblue;
    transition: 0.2s;
}

.menu-sections a:hover {
    color: rgb(45, 45, 247);
    letter-spacing: 3px;
}

.checkout {
    position: fixed;
    display: flex;
    right: 0;
    z-index: 1;
    height: 100vh;
    width: 60px;
    transition: 0.5s;
}

.checkout:hover{
    width: 425px;
}

.reveal-checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightskyblue;
    color: white;
    font-size: 64px;
    width: 75px;
}



.checkout-items {
    background-color: gainsboro;
    width: 350px;
    padding-top: 40px;
    overflow-y: auto;
}

.menu-items {
    width: 90%;
    margin: 0 auto;
}

.grid-menu {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.menu-title {
    padding: 75px 0 50px 50px;
}

.menu-items .menu-item {
    padding: 0 40px;
    padding-bottom: 50px;
} 

.menu-items img {
    width: 350px;
    height: 250px;
    border-radius: 25px;
}

.menu-items p {
    padding-top: 25px;
    font-size: 24px;
    color: lightskyblue;
}

.final-checkout {
    font-size: 24px;
    color: white;
    background-color: lightskyblue;
    text-align: center;
    padding: 20px;
    transition: 0.5s;
}

.final-checkout:hover {
    background-color: rgba(136, 207, 252, 0.7);
    font-weight: 700;
    color: white;
}

.checkout-final-price {
    font-weight: 600;
}

.checkout-item, .checkout-info, .price, .quantity-change, .quantity-change div {
    display: flex;
    align-items: center;
}

.checkout-info, .price{
    width: 300px;
    justify-content: space-between;
}

.checkout-item {
    flex-direction: column;
    padding-top: 40px;
    border-bottom: solid 3px black;
}

.price {
    padding-top: 15px;
}

.checkout-item img {
    width: 100px;
    height: 75px;
    border-radius: 20px;
}

.checkout-item p {
    font-size: 20px;
}

.quantity-change ion-icon {
    font-size: 25px;
    transition: 0.2s;
    padding: 0 5px;
}

.quantity-change ion-icon:hover {
    color: lightskyblue;
}

.remove-checkout {
    text-decoration: underline;
    color: orangered;
    transition: 0.2s;
}

.remove-checkout:hover {
    color: orange;
}

.checkout-item-final-price {
    font-weight: 600;
}

.saved-orders-body {
    background-color: maroon; 
    font-family: 'Montserrat', sans-serif;
}

.previous-holder {
    display: flex;
    padding-top: 60px;
}

.previous-order-names {
    position: fixed;
    width: 25%;
    height: 100vh;
    /* overflow: scroll; */
    background-image: radial-gradient(lightskyblue, rgb(137, 137, 255), lightskyblue);
    box-shadow: 10px 0 50px gray;
}

.order-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ghostwhite;
    margin: 100px auto 0 auto;
    width: 80%;
    height: 75%;
    border-radius: 25px;
    overflow-y: auto;
    padding: 0 10px;
}

.order-name-container h1 {
    display: inline-block;
    color: ghostwhite;
    background-color: rgb(137, 137, 255);
    margin: 0 auto;
    margin-top: 15px;
    letter-spacing: 2px;
    padding: 5px 10px;
    border-radius: 5px;
}

.order-name-container p {
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-style: italic;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
}

.order-name-container p.hovered:after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 96%;
    top: 6%;
    border: 20px solid transparent;
    border-left: 20px solid rgb(70, 70, 70);
    transition: 0.2s;
}

.previous-order-listings {
    padding: 100px 0 0 600px;
    width: 100%;
}

.previous-order-listings h1 {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
    color: lightskyblue;
    margin-bottom: 50px;
}

.previous-order-listings .previous-order {
    width: 750px;
    height: 200px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 3px rgba(194, 184, 184, .4);
}

.previous-order-listings img {
    width: 225px;
    height: 175px;
    border-radius: 15px;
}
.previous-order-listings h2 {
    font-size: 48px;
    text-align: center;
}

.previous-order-listings .name {
    font-weight: 300;
    font-size: 40px;
}

.previous-order div {
    text-align: center;
}

.previous-order p {
    font-size: 32px;
    color: rgb(137, 137, 255);
    margin-bottom: 10px;
}

.previous-order button {
    font-size: 22px;
    font-weight: 600;
    padding: 10px 15px;
    color: white;
    background-color: lightskyblue;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
}

.previous-order button:hover {
    background-color: rgb(137, 137, 255);
}

.manager-page {
    font-family: 'Montserrat', sans-serif;
}

.deleted-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 3px black;
    margin-bottom: 25px;
}

.deleted-items img {
    width: 100px;
    height: 75px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.deleted-items p {
    font-size: 24px;
    text-align: center;
    color: lightskyblue;
    font-style: italic;
    font-weight: 600;
}

.deleted-items button {
    box-sizing: content-box;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 15px;
    color: white;
    height: 75px;
    background-color: green;
    border: solid 3px black;
    border-radius: 15px;
    transition: 0.4s;
}

.deleted-items button:hover {
    box-sizing: content-box;
    background-color: lightgreen;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////    LOGIN PAGE(INDEX)    //////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sign-in-wrapper{
    display: flex;
    justify-content: center;
}
.email-password-submit{
    display: flex;
    flex-direction: column;
}
.sign-in-title{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}
.full-sign-in{
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sign-in-email, .sign-in-password{
    padding: 15px 0 15px 10px;
    font-size: 20;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(226, 226, 226);
    border-radius: 5px;
    width: 300px;
    outline: none;
    transition: 0.3s;
}
.sign-in-email:focus, .sign-in-password:focus{
    padding: 15px 0 15px 10px;
    font-size: 20;
    background-color: transparent;
    width: 300px;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}
.sign-in-submit-btn{
    padding: 15px 0 15px 0;
    font-size: 20;
    background-color: rgb(226, 226, 226);
    width: 300px;
    border:none;
    color: grey;
    transition: 0.3s;
    border-radius: 5px;
}
.sign-in-submit-btn:hover{
    background-color: lightskyblue;
    color: white;
    text-decoration: underline;
}
.sign-in-labels{
    color: grey;
    font-size: 0.8rem;
}
.sign-up-option-text{
    text-align: center;
    margin-top: 100px;
}
.vl-wrapper{
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    padding-top: 25px;
}
.vertical-line{
    border-left: 2px solid rgb(226, 226, 226);
    height: 95px;
}
.cant-log-in:link, .cant-log-in:visited{
    color: grey;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
}
.cant-log-in:active, .cant-log-in:hover{
    color: grey;
    text-decoration: underline;
    text-align: center;
    margin-top: 30px
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////    SIGN UP    ////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.full-sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 600px;
    justify-content: center;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.sign-up-inputs{
    padding: 15px 0 15px 10px;
    font-size: 20;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(226, 226, 226);
    width: 300px;
    outline: none;
    transition: 0.3s;
    border-radius: 5px;
}
.sign-up-inputs:focus{
    padding: 15px 0 15px 10px;
    font-size: 20;
    background-color: transparent;
    width: 300px;
    background-color: rgb(226, 226, 226);
}
.form-group{
    margin-top: 20px;
}
.sign-up-labels{
    color: grey;
    font-size: 0.8rem;
}
.sign-up-title{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}
.sign-up-submit{
    margin-top: 20px;
    padding: 15px 0 15px 0;
    font-size: 20;
    background-color: rgb(226, 226, 226);
    width: 300px;
    border:none;
    color: grey;
    transition: 0.3s;
    border-radius: 5px;
}
.sign-up-submit:hover{
    background-color: lightskyblue;
    color: white;
    text-decoration: underline;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////    FORGET PASSWORD    ////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.full-forget{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 600px;
    justify-content: center;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.forget-inputs{
    padding: 15px 0 15px 10px;
    font-size: 20;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(226, 226, 226);
    width: 300px;
    outline: none;
    transition: 0.3s;
    border-radius: 5px;
}
.forget-inputs:focus{
    padding: 15px 0 15px 10px;
    font-size: 20;
    background-color: transparent;
    width: 300px;
    background-color: rgb(226, 226, 226);
}
.forget-labels{
    color: grey;
    font-size: 0.8rem;
}
.forget-password-title{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}
.forget-password-submit{
    margin-top: 20px;
    padding: 15px 0 15px 0;
    font-size: 20;
    background-color: rgb(226, 226, 226);
    width: 300px;
    border:none;
    color: grey;
    transition: 0.3s;
    border-radius: 5px;
}
.forget-password-submit:hover{
    background-color: lightskyblue;
    color: white;
    text-decoration: underline;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////    HEADER  /  NAV BAR    ////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 140px;
    background-color: lightskyblue;
    transition: 0.6s;
    z-index: 1;
}

.sticky {
    padding: 10px 140px;
    background-color: lightskyblue;
}

header .logo {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    letter-spacing: 4px;
    color: white;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    transition: 0.6s;
}

.nav-icons {
    font-size: 2.2rem;
    color: white;
    cursor: pointer;
}

header ul li a:hover {
    opacity: 0.5;
}

.visited {
    opacity: 0.5;
}

.prof {
    display: column;
}

.nav-icons:hover {
    opacity: 0.5;
}

.prof-options p, a {
    display: block;
    margin-top: 7px;
    text-decoration: none;
    color: black;
}

.prof-options a:hover {
    color: lightskyblue;
}

.prof .signout {
    visibility: hidden;
    min-width: 120px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(161, 157, 157, 0.7);
    font-family: "Lato";
    font-size: .8rem;
    text-align: center;
    border-radius: 10px;
    padding: 13px 40px;
    position: absolute;
    z-index: 1;
    margin: 35px -120px;
}

.prof:hover .signout {
    visibility: visible;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////    Profile    /////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.sidebar{
    width: 250px;
    height: 100vh;
    min-height: 750px;
    background-color: gainsboro;
    padding: 160 0 0 10;
    position: fixed;
}
.profile-icon-container{
    height: 250px;
    text-align: center;
    padding-right: 10px;
}
.profile-icon{
    font-size: 11rem;
    margin: auto;
    color: lightskyblue;
}
.profile-button{
    border: 2px solid transparent;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 100px;
    font-size: 3rem;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    color: rgb(78, 78, 78);
}
.profile-button-1{
    border: 2px solid transparent;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 100px;
    font-size: 3rem;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 0.5s;
    color: grey
}
.profile-button-1:hover{
    background-color: rgba(135, 206, 250, 0.782);
    color: white;
}
.profile-options-container{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.profile-name{
    color: grey;
    text-align: center;
    padding-right: 10px;
    font-size: 2rem;
}
.profile-body{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

/* OVERVIEW */
.overview-content-container{
    height: 400px;
    min-width: 1000px;
    margin: 240px 0px 10px 350px;
    display: flex;
    justify-content: space-between;
}
.profile-flex{
    display: flex;
}
.left-box-overview{
    border: 1px solid grey;
    border-radius: 15px;
    height: 100%;
    width: auto;
    padding: 20px;
}
.right-box-overview{
    border: 1px solid grey;
    border-radius: 25px;
    height: 100%;
    width: 45%;
    padding: 20px;
}
.profile-user-settings-title{
    color: grey;
    font-size: 1rem;
    padding-bottom: 10px;
}
.profile-user-info-title{
    color: rgb(78, 78, 78);
    font-size: 2rem;
    padding-bottom: 10px;
}
.profile-info{
    color: grey;
    font-size: 1rem;
    padding-bottom: 5px;
}
.profile-user-info{
    color: grey;
    border-top: 2px solid grey;
    padding: 0 20px 0 30px;
}
.profile-line{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}
.profile-table{
    border-spacing: 0px;
}
.profile-table-td{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    border-top: 2px solid grey;
    color: grey;
}
.password-profile{
    border-bottom: 2px solid grey;
}
.profile-order-history-title{
    color: grey;
    border-bottom: 2px solid grey;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 100px;
}
.profile-order-history-text{
    font-size: 1.5rem;
    text-align: center;
    color: grey;
}
.profile-saved-order-link{
    text-decoration: underline;
    color: grey;
    transition: 0.5s;
}
.profile-saved-order-link:hover{
    color: lightgrey;
}

/* USER SETTINGS */
.User-settings-overview{
    padding: 175px 0 0 300;
}
.user-info-flex{
    display: flex;
}
.user-settings-title{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 20px;
}
.user-settings-title-text{
    border-bottom: 2px solid grey;
    width: 1150px;
    padding-bottom: 20px;
}
.profile-settings-title{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px 0 10px 0;
}
.profile-settings-first-name-label{
    padding: 0 20px 10px 0;
}
.profile-text-box{
    margin: 0 35px 15px 0;
    background-color: transparent;
    width: 300px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0 0 0 10px;
}
.profile-settings-submit{
    float: right;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: lightskyblue;
    background-color: lightskyblue;
    font-size: 1.5rem;
    transition: 0.5s;
}
.profile-settings-submit:hover{
    background-color: grey;
    color: lightskyblue;
}
.delete-account-title{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px 0 10px 0;
}
.delete-account-submit{
    float: right;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: lightskyblue;
    background-color: lightskyblue;
    font-size: 1.5rem;
    transition: 0.5s;
    margin-bottom: 20px;
}
.delete-account-submit:hover{
    background-color: grey;
    color: lightskyblue;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////    FOOTER CSS    /////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.footer-spacing {
    margin: 10% 0 7% 0;
}

.copyright {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;
    background-color: rgba(26, 24, 24, 0.9);
    
}

.goober-logo-con {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 160px;
    overflow: hidden;
    background-size: cover;
    margin: 48px 0 0 0;
}

.goober-logo {
    width: 160px;
    height: 160px;
    overflow: hidden;
    background-size: cover;
    border-radius: 50%;
}

.goober-logo img {
    width: 160px;
    height: 160px;
}

.column-tool {
    width: 30%;
    height: 160px;
    display: column;
    justify-content: center;
    margin: 70px 0 0 0;
}

.creators {
    width: 70%;
    min-height: 20px;
    font-family: "Lato";
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.git-creators {
    display: flex;
    justify-content: center;
    width: 70%;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
}

.git-creators a {
    color: white;
    margin: 5px 0 0 0;
    transition: 0.6s;
}

.git-creators a:hover {
    color: rgb(45, 45, 247);
}

.git-name-con {
    display: column;
    justify-content: center;
    min-width: 100px;
}

.git-name {
    min-width: 50px;
    text-align: center;
    color: white;
    font-size: 0.6rem;
    font-family: "Lato";
    margin: 0 0 5px 0;
}

.mid {
    margin: 0 30px 0 30px;
}

.footer-txt {
    width: 100%;
    height: 60px;
    font-family: "Lato";
    text-align: center;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 10px auto;
}

.reach-out-con {
    display: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: "Lato";
    font-size: 32px;
    width: 30%;
    height: 160px;
    margin: 68px 0 0 0;
}

.reach-out-text-con {
    display: flex;
    justify-content: center;
}

.reach-out-input {
    font-size: 1.2rem;
    font-family: "Lato";
    color: white;
    width: 100%;
    height: 45px;
    border: 2px solid white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 15px;
    background-color: rgba(36, 34, 34, 0.7);
}

.reach-out-send {
    font-size: 1.2rem;
    font-family: "Lato";
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: lightskyblue;
    width: 25%;
    height: 45px;
    border: 2px solid lightskyblue;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.6s;
    cursor: pointer;
}

.reach-out-send:hover {
    background-color: white;
    border: 2px solid white;
    color: lightskyblue;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-icons {
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    transition: 0.6s;
    margin: 10px
}

.social-icons:hover {
    color: rgb(45, 45, 247);
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////    SECTION    ////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.page-back-drop {
    padding: 100px 0 40px 0;
    background-color: whitesmoke;
}

.checkout-wrapper {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(3 1fr);
    grid-column-gap: 50px;
}

.info-con {
    width: 90%;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 60px 0 0 60px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 2px 3px rgba(194, 184, 184, .4);
}

.info-con h1 {
    font-family: "Lato";
    text-align: center;
    padding-top: 30px;
}

.info-con p {
    font-family: "Lato";
    font-size: 2.5rem;
    margin: 20px 0 0 20px;
}

.underline {
    width: 90%;
    border-bottom: 3px solid lightskyblue;
    margin: 5px auto 50px auto;
}

.txt-box {
    width: 93.5%;
    height: 40px;
    padding-left: 5px;
    margin: 20px 0 0 20px;
    border: 1.5px solid grey;
    border-radius: 10px;
}

.lrg-txt-box {
    width: 93.5%;
    min-width: 93.5%;
    height: 240px;
    min-height: 240px;
    padding-left: 5px;
    margin: 20px 0 0 20px;
    border: 1.5px solid grey;
    border-radius: 10px;
}

.cc-txt-box {
    width: 93.5%;
    height: 40px;
    padding-left: 5px;
    margin: 30px 0 0 20px;
    border: 1.5px solid grey;
    border-radius: 10px;
}

.sml-txt-box {
    width: 10%;
    height: 40px;
    text-align: center;
    margin: 20px 30px 0 20px;
    border: 1.5px solid grey;
    border-radius: 10px;
}

.mm-yy {
    width: 7%;
    height: 40px;
    text-align: center;
    margin: 20px 5px 0 5px;
    border: 1.5px solid grey;
    border-radius: 10px;
}

.zip-post {
    width: 13%;
    height: 40px;
    padding-left: 5px;
    margin: 20px 0 0 20px;
    border: 1.5px solid grey;
    border-radius: 10px;
}

.checkoutbtn {
    width: 50%;
    height: 50px;
    margin: 10% 25% 0 25%;
    font-family: "Lato";
    font-size: 2.2rem;
    color: white;
    background-color: lightskyblue;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.checkoutbtn:hover {
    background-color: rgba(136, 207, 252, 0.9)
}

.cash-credit-con {
    display: flex;
}

.cash-credit-btn{
    width: 100px;
    height: 50px;
    font-family: "Lato";
    font-size: 1.4rem;
    color: white;
    background-color: lightskyblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px 0 0 17.5px;
}

.cash-credit-btn:hover {
    background-color: rgba(136, 207, 252, 0.9);
}

.total-tip-con {
    display: flex;
}

.tip p {
    font-family: "Lato";
    font-size: 0.9rem;
    margin: 45px 0 0 5px;
}

.remove-tip {
    height: 20px;
    width: 45px;
    font-family: "Lato";
    font-size: 0.7rem;
    color: white;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 0 5px;
}

.remove-tip:hover {
    background-color: rgba(136, 207, 252, 0.9);
}

.tip-btn {
    width: 100px;
    height: 50px;
    font-family: "Lato";
    font-size: 1.4rem;
    background-color: lightskyblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px 0 0 20px;
}

.tip-option-con {
  position: relative;
  display: inline-block;
}

.tip-content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
  margin: -10px 0 0 20px;
}

.tip-options button {
    width: 100px;
    font-family: "Lato";
    color: white;
    background-color: lightskyblue;
    border: none;
    cursor: pointer;
}

.tip-content button {
  padding: 12px 16px;
  display: block;
}

.tip-content button:hover {
    background-color: white;
    color: lightskyblue;
    box-shadow: 0 1px 1px 1px rgba(209, 200, 200, 0.5);
}

.tip-option-con:hover .tip-content {
    display: block;
}

.tip-con-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.del-fee p {
    font-size: 1.8rem;
    margin: 0 0 -10px 20px;
}

.del-fee h5 {
    font-family: "Lato";
    margin: 40px 0 0 20px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////    CHECKOUT CLASSES    ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.order-history {
    min-height: 800px;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 60px 0 0 0;
}

.history-item-name {
    width: 150px;
    height: 20px;
    font-family: "Lato";
    font-size: 1rem;
    text-align: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 10px 0 2px 20px;
    box-shadow: 2px 2px 2px 2px rgba(194, 184, 184, .4);
}

.order-his-con {
    width: 108%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 20px 0;
    box-shadow: 2px 2px 2px 3px rgba(194, 184, 184, .4);
}

.item-pic img {
    width: 200px;
    height: 150px;
    background-color: black;
    border-radius: 10px;
    background-size: cover;
}

.item-price {
    font-family: "Lato";
    min-width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 15px;
}

.item-price p {
    margin: 15px 5px 0 0;
}

.num-inc {
    font-family: "Lato";
    width: 45px;
    height: 30px;
    margin: 110px 0 0 0;
    padding-left: 5px;
}

.rem-btn {
    width: 20%;
    height: 50px;
    font-size: 1.2rem;
    color: white;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    margin: 0 0 0 200px;
}

.rem-btn:hover {
    background-color: rgba(136, 207, 252, 0.9);
    cursor: pointer;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////    RECEIPT CSS    ////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.rec-wrapper {
    display: flex;
    justify-content: center;
}

.placed-order-total {
    font-size: 2.2rem;
    font-family: "Lato";
    color: black;
    width: auto;
    height: 50px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 2px rgba(194, 184, 184, .4);
    padding: 0 3px 3px 3px;
    margin: 0 20px 0 0;
}

.placed-order-name {
    width: auto;
    height: auto;
    font-family: "Lato";
    font-size: 1rem;
    color: black;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px rgba(194, 184, 184, .4);
    background-color: white;
    margin: 60px 20px 0 0;
}

.order-time {
    width: auto;
    height: auto;
    font-family: "Lato";
    font-size: 1rem;
    color: black;
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 2px 2px rgba(194, 184, 184, .4);
    background-color: white;
    margin: 20px 20px 0 0;
}

.est-time {
    width: auto;
    height: auto;
    font-family: "Lato";
    font-size: 2.2rem;
    color: black;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 2px rgba(194, 184, 184, .4);
    background-color: white;
    padding: 0 3px 3px 3px;
    margin: 0 20px 0 0;
}

.rec-page-wrap {
    display: column;
    width: 25%;
    border-radius: 20px;
    background-color: red;
    box-shadow: 2px 2px 3px 3px rgba(194, 184, 184, .4);
    margin: 60px 0 60px 0;
}

.rec-top {
    width: 100%;
    height: 30px;
    border-radius: 20px 20px 0 0;
    background-color: white;
}

.rec-bottom {
    width: 100%;
    height: 30px;
    border-radius: 0 0 20px 20px;
    background-color: white;
}

.rec-page {
    width: 100%;
    height: auto;
    max-height: 500px;
    overflow: scroll;
    background-color: white;
    padding: 0 0 60px 0;
}

/* width */
.rec-page::-webkit-scrollbar {
    display: block;
    width: 10px;
  }

/* Track */
.rec-page::-webkit-scrollbar-track {
    background: transparent;
}
   
/* Handle */
.rec-page::-webkit-scrollbar-thumb {
    background: lightskyblue;
    border-radius: 10px;
    border: none;
}
  
/* Handle on hover */
.rec-page::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 207, 252, 0.9); 
}

/* background color */
.rec-page::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

/* bottom background */
.rec-page::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 20px; 
}

.rec-order-info {
    width: 40%;
    height: auto;
    max-height: 820px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px rgba(194, 184, 184, .4);
    margin: 60px 0 60px 20px;
}

.rec-order-info h1 {
    font-family: "Lato";
    font-size: 1.8rem;
    color: black;
    text-align: center;
}

.rec-order-info h3, .rec-order-info h2 {
    font-family: "Lato";
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin: 20px 0 0 0;
}

.rec-order-info p {
    font-family: "Lato";
    font-size: 1.2rem;
    color: black;
    margin: 40px 0 0 27px;
}

.map {
    width: 90%;
    height: 300px;
    background-color: yellow;
    border-radius: 20px;
    margin: auto;
}

.rec-con {
    display: flex;
    justify-content: left;
    margin: 0 0 0 15px;
}

.rec-item-name {
    min-width: 150px;
    height: 20px;
    font-family: "Lato";
    margin: 10px 0 0 45px;
}

.item-pic-rec img {
    width: 200px;
    height: 150px;
    background-color: black;
    border-radius: 10px;
    margin: 0 0 0 20px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////    WELCOME PAGE CSS    ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.body-welcome-page {
    background-color: black;
}

.wel-to-goo {
    width: 100%;
    height: 860px;
    background-image: url("images/goober.jpg");
    background-size: cover;
    padding: 160px 0 0 0;
}

.about-us {
    width: 88%;
    height: 350px;
    text-align: center;
    font-family: "Lato";
    font-size: 2rem;
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    padding-top: 18px;
    margin: 25% auto;
}

.about-us h1 {
    text-align: center;
    color: white;
    font-family: "Lato";
    font-size: 3.5rem;
}